.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  width: 600px;
  background: #fff;
  padding-bottom: 30px;
  border-radius: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: blue;
  font-size: 50px;
  font-weight: 700px;
}

.underline {
  width: 160px;
  height: 4px;
  background-color: blueviolet;
  border-radius: 8px;
}

.inputs {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: rgb(228, 223, 223);
  border-radius: 20px;
}

.input img {
  margin: 0px 20px;
  width: 25x;
  height: 25px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password {
  padding-left: 65px;
  margin-top: 30px;
  color: #797979;
  font-size: 20px;
}

.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700px;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #676767;
}
